.tb1 table{
border-color: teal;

}
.container{
background: linear-gradient(tomato,skyblue);
background-repeat: no-repeat;
height: 50rem;
padding:0px;
margin: -10px;
width: 100rem;
padding-right: 140px;

}



h1{
    padding-left: 33rem;
    padding-top: 30px;
}
h2{

    padding-left: 35.3rem;
    padding-top: 0px;
}
.tb1 table{
margin-left:21rem;

}
/* start mobile*/
@media(max-width:1000px){
.conyainer{
    width: 400px;
    height: 1100px;
    ;
}
 h1,h2{

    padding-left: 2rem;
     
 }
h2{
    padding-left: 2,2rem;
}
.tb1 table{
    margin-left: 1%;
}
*{
    font-size: 8px;
    width: 7rem;
     
}
h1{
    margin: 20px;
}
.tb1 table{
    margin-left: 140px;
}
.container{
     height: 100%;
     max-width: 100%;
margin-top: -20px;
    }


}
