.tb1 table{
border-color: teal;

}
.container{
background: linear-gradient(tomato,skyblue);
background-repeat: no-repeat;
height: 50rem;
padding:0px;
margin: -10px;
width: 100rem;
padding-right: 140px;

}



h1{
    padding-left: 33rem;
    padding-top: 30px;
}
h2{

    padding-left: 35.3rem;
    padding-top: 0px;
}
.tb1 table{
margin-left:21rem;

}
/* start mobile*/
@media (max-width: 800px) {
    .container{
        height: 912px;
        padding-top: 0%;
margin-top: -30px;
    }
h1{
padding-left: 8.1rem;
}
.tb1 table{
    margin-left: 0rem;
font-size: 10px;
margin-left:1.3%;
}

